<div class="container">
  <div class="row">
    <div class="col-4 mt-5">
      <h1 appBasicHighlight>Toggling numbers!</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 mt-5">
      <h1 appBetterHighlight [highlightColor]="'pink'" [defaultColor]="'blue'">Toggling numbers with Renderer!</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary mt-5 mb-5"
              (click)="onToggle()">Toggle between odd and even numbers</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <!-- <div *ngIf="showNumbers">
        <ul class="list-group" *ngFor="let odd of oddNumbers">
          <li class="list-group-item"
              [ngClass]="{odd: getClass(odd)}"
              [ngStyle]="{backgroundColor:getColor(odd)}">
              {{odd}}
            </li>
        </ul>
      </div>

      <div *ngIf="!showNumbers">
        <ul class="list-group" *ngFor="let even of evenNumbers">
          <li class="list-group-item"
              [ngClass]="{even: getClass(even)}"
              [ngStyle]="{backgroundColor:getColor(even)}">
              {{even}}
            </li>
        </ul>
      </div> -->

      <div *appUnless="showNumbers">
        <ul class="list-group" *ngFor="let odd of oddNumbers">
          <li class="list-group-item"
              [ngClass]="{odd: getClass(odd)}"
              [ngStyle]="{backgroundColor:getColor(odd)}">
              {{odd}}
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
